.wikipedia-links {
  display: flex;
  gap: 16px;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 16px;
}

.wikipedia-links li {
  list-style: none;
  flex: 0 0 auto;
  width: max-content;
  white-space: nowrap;
}

.wikipedia-links li::before {
  content: unset;
}
